@font-face {
    font-family: "Modern Age";
    src: url("/fonts/modern-age.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open-sans.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
